---
import PostList from '@components/PostList.astro';
import { getCollection } from 'astro:content';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, POST_PAGE_SIZE } from '@consts';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pageSize = POST_PAGE_SIZE;
const currentPage = 1;
const totalPages = Math.ceil(posts.length / pageSize);
const start = (currentPage - 1) * pageSize;
const end = start + pageSize;
const paginatedPosts = posts.slice(start, end);
---
<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={"blog / " + SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="page-title">blog</h1>
      <section>
        <PostList posts={paginatedPosts} currentPage={currentPage} totalPages={totalPages} />
      </section>
    </main>
    <Footer />
  </body>
</html>
