<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="./assets/js/script.js" defer></script>
  </head>
  <body>
    <%- include('_layout/_header') %>

    <main>TEST</main>

    <%- include('_layout/_footer') %>
  </body>
</html>
