<% path = "./"; -%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('_layout/_meta') %>
    <title>TEST</title>
    <meta name="description" content="">
  </head>
  <body>
    <%- include('_layout/_header') %>

    <main role="main">

      TEST

    </main>

    <%- include('_layout/_footer') %>
  </body>
</html>
