---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import PostList from '@components/PostList.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION, POST_PAGE_SIZE } from '@consts';

const pageSize = POST_PAGE_SIZE;

export async function getStaticPaths() {
  const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  const pageSize = POST_PAGE_SIZE;
  const totalPages = Math.ceil(posts.length / pageSize);

  return Array.from({ length: totalPages }).map((_, i) => ({
    params: { page: String(i + 1) },
  }));
}

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const totalPages = Math.ceil(posts.length / pageSize);
const currentPage = Number(Astro.params.page);
const start = (currentPage - 1) * pageSize;
const end = start + pageSize;
const paginatedPosts = posts.slice(start, end);
---
<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={"blog / " + SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <PostList posts={paginatedPosts} currentPage={currentPage} totalPages={totalPages} />
      </section>
    </main>
    <Footer />
  </body>
</html>
