---
import Layout from "../layouts/Page.astro";
---

<Layout
	title="link"
	description="お絵描きゲーミングウーパー"
	pubDate={new Date("2025/11/07")}
	heroImage="/assets/img/about/img_header.jpg"
>
	<p>リンク集です。<br>わたしに関連するリンク集なので、相互リンクは受け付けていません。</p>

	<section class="section">
		<h2 class="section-ttl">グッズ</h2>
		<ul>
			<li><a href="https://suzuri.jp/aomixer/" target="_blank">SUZURI</a>：ファッションアイテム多め</li>
			<li><a href="https://aomixer.booth.pm/" target="_blank">Booth</a>：アクキーなど</li>
		</ul>
	</section>

	<section class="section">
		<h2 class="section-ttl"><a href="https://skeb.jp/@aomixer" target="_blank">Skeb</a><span>（期間限定）</span></h2>
		<p>期間限定でやってみようと思います。<br>SD（ミニキャラ）イラストや、ゆるいテイストが得意です。</p>
	</section>

</Layout>

<style lang="scss">
	.section {
		margin-top: 6.4rem;
	}

	.section-ttl {
		border-bottom: 1px dashed #aaa;
		margin-bottom: 1.6rem;
		padding: 0 0 .8rem .5rem;
		font-size: 2.4rem;

		span {
			font-size: 1.6rem;
		}
	}

</style>